@font-face{
    font-family: 'NanumSquareRoundR';
    src: url('../fonts/Nanum/NanumSquareRoundR.ttf');
}

@font-face{
  font-family: 'NotoSansKR-Regular';
  src: url('../fonts/Noto_Sans_KR/NotoSansKR-Regular.otf');
}

@font-face{
  font-family: 'NotoSansKR-Bold';
  src: url('../fonts/Noto_Sans_KR/NotoSansKR-Bold.otf');
}

@font-face{
  font-family: 'GoodTimes-Regular';
  src: url('../fonts/GoodTimes/GoodTimes-Regular.ttf');
}

*, html{
    margin: 0;
    padding: 0;
    /* height: 100%; */
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    /* overflow: hidden; */
}

/* ID */

#logo {
  height: 30px;
  margin-top: 35px;
  margin-left: 100px;
}

/* ID END */

/* CLASS */

.pc-header {
  width: 100%;
  height: 80px;
}

.header_nav{
  float: right;
}

#nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 35px 100px 0px 0px;
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}

#nav li{
  padding-right: 100px;
  display:inline;
}

#nav li a{
  color: rgba(0, 0, 0, 0.842);
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
}

#nav li a:hover{
  border-bottom: 3px solid #0be6de;
}

label, #toggle{display:none;}

  
@media screen and (max-width: 1200px) 
{
.header_nav{display:none;}
#toggle:checked + .header_nav{
  display:inline-block; 
}
#nav li{
  text-align: center;
  line-height: 50px;
  margin-left: 35px;
  margin-right: 15px;
  padding: 0px;
}
label {
  display:inline;
  text-align:center;
}
#logo {
  margin-top: 35px;
  margin-left: 50px;
}

#menu{
  float: right;
  margin-top: 35px;
  margin-right: 50px;
}
}
